/* default styles for buttons, links, and main app container */

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: grey;
}

button{
  padding: 16px 32px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 300ms;
  cursor: pointer;
  background-color: whitesmoke;
  color:grey;
  border: none;
  border-radius: 50px;
}

button:hover{
  background-color: rgb(218, 218, 218);
  color: grey;
}

a{
  color: rgb(5,54,0);
  text-decoration: none;
  transition: 300ms;
  border-radius: 50px;
}

a:hover{
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.footer{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: whitesmoke;
}
