.about-container{
    width: 80vw;
    height: auto;
}

.section{
    margin: 1rem;
}

.section .content-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section p.content{
    margin: 1rem;
    width: 400px;
    font-size: 1.5rem;
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: green;
    
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #77DD76, #F49AC2);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

@media only screen and (max-width: 600px) {

    .section{
        margin: 1rem;
        max-width: 450px;
    }

    .section p.content{
        margin: 1rem;
        width: 375px;
        font-size: 1.5rem;
    }
    
    .section .content-row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}