.balance-area button{
    padding: 0;
    border: none;
    border-radius: 50px;
}

.balance-area button:hover{
    background-color: white;
}

.balance-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}