.lander{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.section .left{
    max-width: 500px;
}

.footer{
    width: 100%;
    background-color: whitesmoke;
}

@media only screen and (max-width: 600px) {
    .lander{
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }

    .lander img{
        width: 350px;
        height: auto;
    }

    .section{
        flex-direction: column;
        width: 300px;
    }

    .section img{
        height: auto;
        width: 200px;
    }
}