.leaderboard table, .leaderboard th, .leaderboard td {
    border: 1px solid black;
    border-collapse: collapse;
}

.leaderboard th, .leaderboard td {
    padding: 15px;
}

.leaderboard a:hover{
    color: green;
}