.new-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-item-container img{
    width: 100px;
    height: auto;
}

.new-item-category-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.new-item-category-list a{
    padding: 5px 10px;
    border-radius: 30px;
}

.new-item-category-list a:hover{
    background-color: whitesmoke;
}

.form-section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    color: rgb(5, 54, 0);
}

.form-section input{
    padding: 13px;
    font-size: large; 
}

.form-section select{
    padding: 13px;
    font-size: large;
}

.form-section button{
    background-color: rgb(30, 114, 13);
    border-radius: 20px;
    color: white;
}

label{
    float: left;
}