.new-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-item-container img{
    width: 100px;
    height: auto;
}

.new-item-category-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.new-item-category-list a{
    padding: 5px 10px;
    border-radius: 30px;
}

.new-item-category-list a:hover{
    background-color: whitesmoke;
}

.form-section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
    color: rgb(5, 54, 0);
}

.form-section input{
    padding: 13px;
    font-size: large; 
}

.form-section select{
    padding: 13px;
    font-size: large;
}

.form-section button{
    background-color: rgb(119, 221, 118);
    border-radius: 20px;
    color: white;
}

.form-section button:hover{
    background-color: rgb(101, 184, 100);
}

label{
    float: left;
}

textarea.thought-input{
    padding: 10px;
    width: 300px;
    height: 250px;
    font-size: 18px;
    font-family:sans-serif;
}

.image{
    color: rgb(85, 85, 85);
}

.video{
    color: rgb(89, 0, 255);
}

.audio{
    color: rgb(226, 31, 151);
}

.art{
    color: rgb(255, 170, 95);
}

.document{
    color: rgb(21, 23, 141);
}

.model{
    color: rgb(197, 38, 38);
}

.game{
    color: rgb(46, 187, 116);
}

.link{
    color: rgb(119, 95, 255);
}

.poll{
    color: rgb(255, 95, 220);
}

.thought{
    color: rgb(223, 189, 0);
}