.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: whitesmoke;
    padding: 10px;
    color: rgb(5, 54, 0);
}

.grid-item1 {
    background-color: whitesmoke;
    box-shadow: 0 0 3pt 2pt rgb(173, 201, 158);
    border-radius: 30px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color:rgb(119, 153, 101);
    margin: 20px;
}

.grid-item1:hover {
    background-color:rgb(119, 153, 101);
    color: white;

}

.store-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    min-height: 300px;
    box-shadow: 0 0 3pt 2pt rgb(173, 201, 158);
    border-radius: 30px;
}

.store-header .quantics{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img.store-photo{
    border-radius: 50%;
    padding-right: 5px;
}

@media only screen and (max-width: 600px) {
    .store-container{
        max-width: 500px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto;
        background-color: whitesmoke;
        padding: 10px;
        color: rgb(5, 54, 0);
    }
}