button.buy{
    color:green;
    box-shadow: 0 0 2pt 1pt lightgray;
    border: none;
    border-radius: 30px;
    padding: 5px;
}

button.buy:hover{
    color:white;
    background-color:green;
    border-radius: 30px;
    padding: 5px;
}