.message-row {
  border: black thin dashed;
  width: 800px;
}

.received * {
  justify-content: flex-start;
  text-align: left;
}

.sent * {
  justify-content: flex-end;
  text-align: right;
}

.message-line {
  display: flex;
}

.message {
  background-color: lightgreen;
  border-radius: 10pt;
}

