.card{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px 0 lightgray;
    border-radius: 30px;
    padding: 10px 0;
    font-size: 30px;
    text-align: center;
    color: rgb(5, 54, 0);
    margin: 20px;
}

.card button{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    transition-duration: 300ms;
    cursor: pointer;
    background-color: white;
    color: gray;
    border: none;
}
.card button:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

.card button.send-comment-button{
    padding: 5px;
    font-size: 20px;
}

.card input{
    margin-left: 5px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius:5px;
    color: gray;
    border: none;
}

.card button.close-cmt-btn{
    padding: 5px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.card h3, .card p{
    max-width: 300px;
}

.item-card-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card a:hover{
    color: green;
}

.comments-container{
    min-height: 300px;
    overflow-y: auto;
}

p{
    font-size: medium;
}

img.pp{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.card .top-row{
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

h3{
    margin: 0;
}

.card .image{
    padding: 10px;
    color: rgb(85, 85, 85);
    float: right;
}

.card .video{
    padding: 10px;
    color: rgb(89, 0, 255);
    float: right;
}

.card .audio{
    padding: 10px;
    color: rgb(226, 31, 151);
    float: right;
}

.card .art{
    padding: 10px;
    color: rgb(255, 170, 95);
    float: right;
}

.card .story{
    padding: 10px;
    color: rgb(21, 23, 141);
    float: right;
}

.card .model{
    padding: 10px;
    color: rgb(197, 38, 38);
    float: right;
}

.card .game{
    padding: 10px;
    color: rgb(46, 187, 116);
    float: right;
}

.card .link{
    padding: 10px;
    color: rgb(119, 95, 255);
    float: right;
}

.card .thought{
    padding: 10px;
    color: rgb(223, 189, 0);
    float: right;
}

.card .heart{
    color: rgb(255, 123, 200);
}

.card .commentbtn{
    color: rgb(119, 178, 255);
}

