.locked-card{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 3px 6px 0 rgb(173, 201, 158);
    border-radius: 30px;
    padding: 10px 0;
    font-size: 30px;
    text-align: center;
    color: rgb(5, 54, 0);
    margin: 20px;
}

.locked-card button{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 300ms;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid rgb(142, 197, 211,0.8);
}

p{
    font-size: medium;
}

img.pp{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.locked-card .top-row{
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

h3{
    margin: 0;
}

.locked-card .image{
    padding: 10px;
    color: rgb(85, 85, 85);
    float: right;
}

.locked-card .video{
    padding: 10px;
    color: rgb(89, 0, 255);
    float: right;
}

.locked-card .music{
    padding: 10px;
    color: rgb(226, 31, 151);
    float: right;
}

.locked-card .art{
    padding: 10px;
    color: rgb(255, 170, 95);
    float: right;
}

.locked-card .story{
    padding: 10px;
    color: rgb(21, 23, 141);
    float: right;
}

.locked-card .model{
    padding: 10px;
    color: rgb(197, 38, 38);
    float: right;
}

.locked-card .game{
    padding: 10px;
    color: rgb(46, 187, 116);
    float: right;
}

.locked-card .link{
    padding: 10px;
    color: rgb(119, 95, 255);
    float: right;
}

.locked-card .heart{
    color: rgb(255, 123, 200);
}

.locked-card .comment{
    color: rgb(119, 178, 255);
}