.nav-frame{
    position: sticky;
    top: 0;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(183, 219, 163, 0.8);
    display: flex;                 
    justify-content: space-between; 
    align-items: center;
    color: rgb(5, 54, 0);
    min-height: 60px;
}

.search {
    margin:auto;
    max-width:300px;
}

.search button{
    padding: 7px;
}

.search input.search{
    padding:9px;
    border: none;
    border-radius: 50px;
    background-color: rgb(164, 196, 147);
    color: white;
}

.search input.search::placeholder{
    color: white;
}

.search input.search:focus{
    border-radius: 50px;
    outline:none;
    box-shadow: 0 0 2pt 1pt rgb(133, 158, 119);
    background-color: rgb(159, 185, 145);
}

.right img{
    height: 40px;
    width: auto;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p{
    padding-right: 5px;
    padding-left: 5px;
}

a:hover{
    border-radius: 30px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

a{
    color: rgb(5,54,0);
    text-decoration: none;
    transition: 300ms;
    border-radius: 50px;
}

svg.bars{
    padding: 5px;
    color: white;
    transition: 300ms;
}

svg.bars:hover{
    color: green;
    cursor: pointer;
}

.menu{
    display: flex;
    align-items: center;
    background-color: rgba(236, 236, 236, 0.0);
}

.menu a{
    background-color: rgba(236, 236, 236, 0.0);
}

.menu img:hover{
    transform: scale(1.05);
    opacity: .7;
    cursor: pointer;
}

.side-menu-on{
    background-color: whitesmoke;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding-left: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    transition: 250ms;
}

.side-menu-on a{
    padding: 5px;
}


.side-menu-off{
    background-color: rgb(236, 236, 236);
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 350ms;
}

/* when screen width is less than 600px (mobile)*/
@media only screen and (max-width: 600px) {
    .search{
        display: none;
    }
}