.sign-in-btn{
    background-color: white;
    box-shadow: 3px 2px 5px gray;
    border-radius: 10px;
    padding: 10px;
}

.sign-in-btn img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: auto;
    height: 30px;
}

